@import 'tailwindcss' source(none);
@source '../../**/*.{js,ts,jsx,tsx}';
@import 'tw-animate-css';
@import './default_theme.css';
@import './globals.css';

html, body { height: 100%; margin: 0; } 
#root { height: 100%; }
.material-symbols-outlined { font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24; }
.icon-fill { font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24; }
